.DS_Store
.classpath
.project
target
.settings
ams-web/logs
.springBeans
ams-web/src/main/resources/file-storage/*
ams-web/logdir_IS_UNDEFINED/*
ams-web/src/main/resources/static/uploadFiles/*
ams-master
*.log
*.class
*/pom.properties
*/MANIFEST.MF
application.yml
ams-web/tmp_ehcache/*

/.idea
node_modules